---
import { contact } from "@data/contact";

const { clienthubId, formUrl } = contact.jobber;
---

<link rel="preconnect" href="https://d3ey4dbjkt2f6s.cloudfront.net" />
<link rel="preconnect" href="https://clienthub.getjobber.com" />
<link
  rel="preload"
  as="style"
  href="https://d3ey4dbjkt2f6s.cloudfront.net/assets/external/work_request_embed.css"
/>
<link
  rel="stylesheet"
  href="https://d3ey4dbjkt2f6s.cloudfront.net/assets/external/work_request_embed.css"
  media="screen"
/>

<section class="w-full py-12 px-4">
  <div class="container mx-auto max-w-3xl">
    <div id={clienthubId} class="w-full"></div>
    <script
      is:inline
      async
      src="https://d3ey4dbjkt2f6s.cloudfront.net/assets/static_link/work_request_embed_snippet.js"
      clienthub_id={clienthubId}
      form_url={formUrl}></script>
  </div>
</section>
